includ pyproject.toml
include README.md
include license.txt

graft windspharm

recursive-include examples *.py
recursive-include  windspharm *.nc

prune .github
prune *.egg-info
prune docs

exclude *.yaml
exclude windspharm/_version.py
